{IF_ERROR_BEGIN}<li><p class="error">{ERROR_MESSAGE}</p></li>{IF_ERROR_END}

{ITEM_LOOP_BEGIN}
<li><a href="{ITEM_PERMALINK}" title="header=[] body=[{TRUNCATE_ITEM_DESCRIPTION}]">{ITEM_TITLE}</a></li>
{ITEM_LOOP_END}
